#emontionalManipulation.hidden
    .ui.container#emontionalManipulation-read
        .limit#learn-target(style="padding: 0;")
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Pressure Tactics
            h3 Emotional Manipulation
            p To add a sense of urgency to their requests, scammers often use specific words and phrases like “please” or 
                | “quickly help me.” This tactic is designed to 
                b make you feel under pressure
                span , 
                | pushing you to act swiftly, 
                | often leading to decisions without proper consideration, such as sending money immediately. Additionally, scammers might use guilt to their advantage. By sending gifts or doing small favors, they create a scenario where you might feel indebted, 
                | believing you need to reciprocate their generosity, further manipulating your emotions to their benefit.
            //-     strong deeply embarrassed, betrayed, and even genuinely heartbroken. 
            //-     | The mental and emotional impacts can lead to long-lasting trust issues and difficulties in future relationships.
            //- img.ui.image.centered.medium(src='/images/romance/emotional.png')
