#emotional.hidden
    .ui.container#emotional-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Pressure Tactics
            h3 Fake Sob Story
            p Before making a request scammers will often tell a sob story. They might fabricate tales of a family member's severe illness or an accident involving their child to invoke sympathy. The narrative often escalates to claims of danger or injury, necessitating urgent financial assistance to deal with supposed authorities or medical bills. The objective of these fabricated stories is to elicit sympathy and portray their situation as urgent, compelling you to act swiftly and without hesitation.
            //-     strong deeply embarrassed, betrayed, and even genuinely heartbroken. 
            //-     | The mental and emotional impacts can lead to long-lasting trust issues and difficulties in future relationships.
            //- img.ui.image.centered.medium(src='/images/romance/emotional.png')
