#targeted.hidden
    .ui.container#targeted-read
        .limit#learn-target
            h1.ui.header.large#learn-title
                .content
                    i.book.icon
                    | Pressure Tactics
            h3 Delayed Request
            p Scammers often 
                b wait a bit 
                | into a relationship before they ask for money or share a sad story. They do this to make you feel like it is your obligation as their partner or friend to help them when they claim to be in trouble.
            //-     strong deeply embarrassed, betrayed, and even genuinely heartbroken. 
            //-     | The mental and emotional impacts can lead to long-lasting trust issues and difficulties in future relationships.
            //- img.ui.image.centered.medium(src='/images/romance/emotional.png')
