extends ../ui_layout 

block content
    .ui.middle.aligned.center.aligned.grid(style="height: 100%;")
        .column.left.aligned
            br
            .ui.stacked.segment
                h2#welcome Welcome back
                p#details Log in to your account
                form.ui.form(method='POST')
                    input(type='hidden', name='_csrf', value=csrfToken)
                    input#screen_width(type='hidden', name='screen_width')
                    input#screen_height(type='hidden', name='screen_height')
                    input#screen_orientation(type='hidden', name='screen_orientation')
                    input#viewport_width(type='hidden', name='viewport_width')
                    input#viewport_height(type='hidden', name='viewport_height')
                    input#device_memory(type='hidden', name='device_memory')
                    input#cpu_cores(type='hidden', name='cpu_cores')
                    input#connection_type(type='hidden', name='connection_type')
                    input#downlink(type='hidden', name='downlink')
                    input#time_zone(type='hidden', name='time_zone')
                    input#language(type='hidden', name='language')
                    input#referrer(type='hidden', name='referrer')
                    input#cookies_enabled(type='hidden', name='cookies_enabled')
                    input#is_touch_device(type='hidden', name='is_touch_device')
                    input#zoom_level(type='hidden', name='zoom_level')

                    input#battery_level(type='hidden', name='battery_level')
                    input#battery_is_charging(type='hidden', name='battery_is_charging')
                    input#storage_quota_estimate(type='hidden', name='storage_quota_estimate')
                    input#storage_usage_estimate(type='hidden', name='storage_usage_estimate')
                    input#device_pixel_ratio(type='hidden', name='device_pixel_ratio')
                    input#prefers_color_scheme(type='hidden', name='prefers_color_scheme')
                    input#prefers_reduced_data(type='hidden', name='prefers_reduced_data')
                    input#prefers_reduced_motion(type='hidden', name='prefers_reduced_motion')
                    input#prefers_high_contrast(type='hidden', name='prefers_high_contrast')
                    input#prefers_contrast(type='hidden', name='prefers_contrast')
                    
                    .field
                        a.ui.big.fluid.button(href='/auth/google')   
                            span
                                img(src='/images/google-logo.png', alt="Google logo")#google-logo
                                span#google-text Continue with Google
                    .ui.horizontal.divider
                        | Or
                    .field 
                        label Email:
                        input#email(type='email', name='email', placeholder='Enter Email', autofocus, autocomplete='email', required)
                    .field
                        label Password:
                        .password-container 
                            input#password(type='password', name='password', placeholder='Enter Password', autocomplete='current-password', required)
                            .password-toggle(aria-label="Show password as plain text. Warning: this will display your password on the screen.")
                                i.icon.large.eye#showPassword
                                .password-text Show

                    
                    
                    br
                    a(href='/forgot') 
                        p.small-text Forgot password?
                    button.ui.fluid.blue.massive.button(type='submit') Login
                    //- .ui.fluid.white.huge.submit.button Sign Up
                    span.small-text Don't have an account? 
                    a.small-text(href="/signup") Sign up

            br


block styles 
    link(rel='stylesheet', href='/css/account-access.css')

block scripts
  script.
    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        })
    ;
//-   script(src='/js/password-toggle.js')

