extends ../ui_layout 

block content
    .ui.middle.aligned.center.aligned.grid
        .column.left.aligned
            br
            .ui.stacked.segment
                h2#welcome Create an account
                p#details Please enter your details.
                form.ui.form#signup-form(method='POST' novalidate)
                    input(type='hidden', name='_csrf', value=csrfToken)
                    input#screen_width(type='hidden', name='screen_width')
                    input#screen_height(type='hidden', name='screen_height')
                    input#screen_orientation(type='hidden', name='screen_orientation')
                    input#viewport_width(type='hidden', name='viewport_width')
                    input#viewport_height(type='hidden', name='viewport_height')
                    input#device_memory(type='hidden', name='device_memory')
                    input#cpu_cores(type='hidden', name='cpu_cores')
                    input#connection_type(type='hidden', name='connection_type')
                    input#downlink(type='hidden', name='downlink')
                    input#time_zone(type='hidden', name='time_zone')
                    input#language(type='hidden', name='language')
                    input#referrer(type='hidden', name='referrer')
                    input#cookies_enabled(type='hidden', name='cookies_enabled')
                    input#is_touch_device(type='hidden', name='is_touch_device')
                    input#zoom_level(type='hidden', name='zoom_level')

                    input#battery_level(type='hidden', name='battery_level')
                    input#battery_is_charging(type='hidden', name='battery_is_charging')
                    input#storage_quota_estimate(type='hidden', name='storage_quota_estimate')
                    input#storage_usage_estimate(type='hidden', name='storage_usage_estimate')
                    input#device_pixel_ratio(type='hidden', name='device_pixel_ratio')
                    input#prefers_color_scheme(type='hidden', name='prefers_color_scheme')
                    input#prefers_reduced_data(type='hidden', name='prefers_reduced_data')
                    input#prefers_reduced_motion(type='hidden', name='prefers_reduced_motion')
                    input#prefers_high_contrast(type='hidden', name='prefers_high_contrast')
                    input#prefers_contrast(type='hidden', name='prefers_contrast')

                    .field
                        .help-container
                            i.icon.large.info.circle.blue.link(aria-label="Get information about name field", data-content="Your name lets us create a profile for you and personalize your experience on our platform." data-position="left center")
                        label Name: 
                        input#name(type='text', name='name', placeholder='Enter your name', autofocus, autocomplete='name', required)
                    .field
                        .help-container
                            i.icon.large.info.circle.blue.link(aria-label="Get information about email field", data-content="Your email will be used for communication, password recovery, and platform notifications." data-position="left center")
                        label Email: 
                        input#email(type='email', name='email', placeholder='Enter your email', autocomplete='email', required)
                    .field 
                        .help-container
                            i.icon.large.info.circle.blue.link(aria-label="Get information about password field", data-content="Create a password with a minimum of 8 characters. Consider including uppercase, lowercase, numbers, and special symbols for added security." data-position="left center")
                        label Password:
                        .password-container 
                            input#password(type='password', name='password', placeholder='Create a password', autocomplete='new-password', minlength='8', required)
                            .password-toggle(aria-label="Show password as plain text. Warning: this will display your password on the screen.")
                                i.icon.large.eye#showPassword
                                .password-text Show
                    .field#news-checkbox
                        .help-container
                            i.icon.large.info.circle.blue.link(data-content="Subscribe to our newsletter to receive cybersecurity tips, stay informed about the latest scams, and learn about enhancements to the DART platform." data-position="left center")
                        .ui.checkbox.huge
                            input#newsletter(type='checkbox', name='newsletterConsent')
                            label#subscribe-label Subscribe to newsletter

                    button.ui.fluid.blue.massive.button(type='submit') Sign Up
                    p#inform-terms By signing up, you agree to our 
                        a(href="/terms") Terms of Use
                        | , 
                        a(href="/privacy") Privacy Policy
                        | , and  
                        a(href="/cookies") Cookie Policy 
                    .ui.divider
                    //- .ui.fluid.white.huge.submit.button Sign Up
                    span.small-text Already haven an account? 
                    a.small-text(href="/login") Log in
            br

block scripts
    script. 
        console.log("HELLOOOOO")



block styles 
    //- same styles as login page
    link(rel='stylesheet', href='/css/account-access.css')

