#types.hidden
    .ui.container#targeted-read
        .limit#learn-target(style="padding: 0;")
           .ui.stackable.grid
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | Connection Building Techniques 
                p(style="margin-top: -10px;") After hooking you in and getting the chat going, their goal is to establish a close bond with you, so they keep using deceptive tactics to achieve it.  It's all part of preparing you for the next phase – requesting money!     
                .ui.icon.mini.message(style="padding: 5px; z-index: 99; margin-top: -15px; margin-top: -10px;")
                    i.info.circle.blue.icon(style="color: #0C2746; font-size: 1.5rem;")
                    .content
                        p Click the arrow to learn more.


        .ui.stackable.middle.aligned.grid#double-slider(style="")
            .column.six.wide.computer.only.sixteen.wide.tablet.only
                #image-slider(style="")
                    .ios-chat-container
                        .chat(style="margin-left:auto; margin-right:auto")
                            .yours.messages
                                .message.last(style="")
                                    | It's my pleasure meeting you beauty and I must admit you are so beautiful and adorable and the sincerity and honesty of your profile caught my attention, you are indeed a priceless jewel and am new on here in search of a long term honest and sincere relationship.
                            .mine.messages
                                .message.last(style="")
                                    | Wow that is love bombing at it's best! Good luck!
                    .ios-chat-container
                        .chat(style="margin-left:auto; margin-right:auto")
                            .yours.messages
                                .message.last(style="")
                                    | It’s truly a pleasure to make your acquaintance! I’m Richard, a 67-year-old architect whose life has been intricately designed with a love for both the tangible beauty of structures and the intangible grace of faith.
                            .mine.messages
                                .message.last(style="")
                                    | It’s wonderful to meet you Richard!    
                    .ios-chat-container
                        .chat(style="margin-left:auto; margin-right:auto")
                            .yours.messages
                                .message.last(style="")
                                    | Checking in again, did you drink enough water today?
                            .mine.messages
                                .message.last(style="")
                                    | Yes, I remembered this time, surprisingly!   
                            .yours.messages
                                .message.last(style="")
                                    | I'm so glad to hear that!😊It's these little reminders, isn't it? How did you ever manage to live without me?
                    .ios-chat-container
                        .chat(style="margin-left:auto; margin-right:auto ")
                            div(style="text-align:center") Mon 8:00 AM
                            .yours.messages(style="margin-top: 0%;")
                                .message.last(style="")
                                    | Rise and shine, my shining star! 🌞✨ What’s one thing you’re looking forward to today?
                            .mine.messages
                                .message.last(style="")
                                    | Good morning! I’m just hoping for a quiet day at work, honestly.
                            .yours.messages
                                .message.last(style="")
                                    | Ok well remember to find time for yourself in the busyness of it all. I’ll be thinking of you all day!



            .column.ten.wide.computer.only.sixteen.wide.tablet.only(style="max-height:0%")
                #steps-slider
                    //- Card 1
                    .ui.basic.card
                        .content
                            h2 Love Bombing
                            p Scammers often employ a technique known as love bombing, where they send the first message with a lot of compliments on you.
                            p While Compliments can make you feel good, it's important to be careful about their intentions, especially when you're just getting to know someone.


                    //- Card 2 
                    .ui.basic.card
                        .content
                            h2 Establishing Trust and Authenticity
                            p To impress you, scammers will disclose details about their personality or their successful careers in order to gain trust and build credibility. They portray themselves as good, morally upright persons by using words and phrases with religious connotations. For example, use of adjectives such as "honest" and "sincere".

                    //- Card 3
                    .ui.basic.card
                        .content
                            h2 Emotional Manipulation
                            .ui.bulleted.list 
                                .item Ask you a lot of questions about you, showing excessive care and interest.
                                .item Communicate with you for hours and hours every day making it easier for you to fall for them due to the amount of time invested in you.
                                .item Keep detailed records of your lives and routines and use these details to send reminders or make you feel taken care of.


                    //- Card 4
                    .ui.basic.card
                        .content
                            h2 Morning &amp; Night Texts
                            .ui.bulleted.list 
                                p Some small but highly effective tricks that scammers always use!
                                .item 
                                    strong Trick 1: TEXT AT NIGHT. 
                                    | Take note of their time zone and text them around 10pm. E.g., "Share with me the highlight of your day."
                                .item 
                                    strong Trick 2: GOOD MORNING MESSAGES. 
            i.source [13] Xi&apos;an Shiyou University 
                a(href='https://www.xisdxjxsu.asia/173756e3573d506fecdec60d338dfe30.pdf' target='_blank')  'Mapping Computer Mediated Communication Theories and Persuasive Strategies in Analysing Online Dating Romance Scam.'
                    