#realizing.hidden
    .ui.container#raised-container.center-layout
        .limit
            #realizing-read
                h1.ui.header.large#learn-title
                    .content
                        i.book.icon
                        | After Realizing They’re a Scammer
                p If you begin to suspect that an individual is a scammer, what should you do:
                .ui.bulleted.list 
                    .item Stop all contact with the scammer and block their phone number, email address, and social media accounts.
                    .item If you give financial information to the scammer, like your credit card number or bank account information, contact your bank or credit card company immediately. They may be able to help you cancel transactions or get your money back.
                    
                