#callout.hidden
    .ui.container
        .ui.grid#avatar-encourage-start(style="margin:0; padding:0")
            .row(style="margin:0; padding:0")
                .eleven.wide.column(style="margin:0; padding:0")
                    .ui.large.label.blue-pointing#speechBubble
                        p#speechText
                            | Do NOT click the “X” to close the pop-up window and interact with the window in any way. The pop-up window may contain embedded malware links. Clicking the fake “X” button or any other links on the pop-ups could install malware on your device.
                    div(style="margin-top:2%") 
                        img.ui.big.image(src=public_resources + '/images/modules/tech/dont-close-browser.svg')
                .five.wide.column(style="margin:0; padding:0")
                    .speech-div
                        img.dart_image.ui.medium.image#avatarSize(src=user.avatarImg)
