#introduction.hidden
    .ui.container#disclaimer-read(style="margin-top:1.5rem")
        .limit#learn-target
            h1.ui.header.large#learn-title

        .ui.grid.computer.only.tablet.only#avatar-encourage-start
            .row
                .twelve.wide.column
                    .speech-div
                        .ui.large.label.blue-pointing#speechBubble
                            p#speechText
                                | Well done for reaching this point! In this Practice section, you will gain a simulated experience with one of the most common types of tech support scams – pop-up warning scams. Let’s go through this scenario together!
                .four.wide.column    
                    img.dart_image.ui.medium.image#avatarSize(src=user.avatarImg)


